pkgbase = linux-cachyos-deckify
	pkgdesc = Linux SCHED-EXT + Cachy Sauce + BORE + Deckify Patches Kernel by CachyOS with other patches and improvements
	pkgver = 6.11.5
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.11.5.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/misc/0001-wifi-ath11k-Rename-QCA2066-fw-dir-to-QCA206X.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/misc/0001-acpi-call.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/misc/0001-handheld.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/sched/0001-sched-ext.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/sched/0001-bore-cachy-ext.patch
	b2sums = 8749d9f78cca3d64e97d081b3ededf506c07c7fe894253e7435afb37eb7c86b690a65293fb4b582ecd951229ca61f13679d10197e4629352262db776352b96dc
	b2sums = 3fc47235cf24879a33be0567adad283e90873fc064077efd4b1847bdd5f8b719a4b51ee9d655522ed9b328321ebf020b386e0981d211533f35918184d288bddb
	b2sums = b1e964389424d43c398a76e7cee16a643ac027722b91fe59022afacb19956db5856b2808ca0dd484f6d0dfc170482982678d7a9a00779d98cd62d5105200a667
	b2sums = edac683ac8e059c43ea2071b095326d6e5664d2a25e992af14c2cea134763cdd477cc0166e7a47b98be5a47d80e1fee77a9822a9a3c48f841ad1ad8a55d44a28
	b2sums = 53e125e8838ef6a3b2a7e1828b225888b2a5dac749c71c622009f61109fe3c113373c42e322af4427d636e0ebe9d23b46c6d0a2b342e7d8dabd8cfa198eed63e
	b2sums = be844475f453f79f5d892c2cc2a6843b32501e2a7c57dd0859ec0cba2262d9fa9a95fff77b6e3718dff449c0f3b428fce03bc35d8332081427feedd461388498
	b2sums = be535c34e7681b10ecec5c092620303a4eff5b1e3b3a7c668afe4cd051341a157927020c9267136e0d3e339b8dc6062e26adc11ff1c47c1572955546ebda14dc
	b2sums = 175191b1d38af840c3d087e91c55ff38853ce855731f701e13fad5845beea1702cc4aff49b9331827c72ce1b8008910d35a7c2082c0a37a04323ed499429a28a
	b2sums = b640b367c11aa75ca9af88384198ec134d48a5d0974bb1c80282707745d7aee746e1f7f3a1d8c50d1b9567c66ec198056a875761737631c91d0d7a0a0169c197

pkgname = linux-cachyos-deckify
	pkgdesc = The Linux SCHED-EXT + Cachy Sauce + BORE + Deckify Patches Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = scx-scheds
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = NTSYNC-MODULE

pkgname = linux-cachyos-deckify-headers
	pkgdesc = Headers and scripts for building modules for the Linux SCHED-EXT + Cachy Sauce + BORE + Deckify Patches Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-deckify
