pkgbase = linux-cachyos-deckify
	pkgdesc = Linux BORE + Cachy Sauce + Handheld Kernel by CachyOS with other patches and improvements.
	pkgver = 6.16.4
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.16.4.tar.xz
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/misc/0001-acpi-call.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/misc/0001-handheld.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.16/sched/0001-bore-cachy.patch
	b2sums = 251feef2f995c155850eac2fce5b89f37f39e9f13b6a4e6873370fdc69654692c6bf6c92f04ca7c0b5fd6088d74442afb68db71d2cc18691e23c61b0be714f34
	b2sums = 5cfd5439fb2d8829e295851e30a55878ff7de22929529ac110a7d37fd6d8a86b0f04d824de6e7f12637594af6f441a8f533772e5c2a2ed85acc3e53a49972468
	b2sums = 10333c7ee4e2a30fc109d138e4d9b09ae49cd0396e0e72a5379ba7ab344dfddf4f26b00788a497c67b151ca3cfd56ef50c4cf99c9928214ca9215a2a1f6025e7
	b2sums = be844475f453f79f5d892c2cc2a6843b32501e2a7c57dd0859ec0cba2262d9fa9a95fff77b6e3718dff449c0f3b428fce03bc35d8332081427feedd461388498
	b2sums = 59e8e7505479d523334b0d8d70ec4d1549532e0038933b54c9acd610d53b936c7f3ca613cae0e8629c91f0e2c865254181c68cda9113c3a2baae986cf03a14e0
	b2sums = c7f5b2e6c1f95ec961666c338057501a41f3e8de584f0985021b4c5c0ce5ddf738b56f2c50fe33d879a9cddd2236c26fb995c03445cab93580379d2e2c4669cc

pkgname = linux-cachyos-deckify
	pkgdesc = The Linux BORE + Cachy Sauce + Handheld Kernel by CachyOS with other patches and improvements. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-cachyos-deckify-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE + Cachy Sauce + Handheld Kernel by CachyOS with other patches and improvements. kernel
	depends = pahole
	depends = linux-cachyos-deckify
