pkgbase = linux-cachyos-deckify
	pkgdesc = Linux SCHED-EXT + Cachy Sauce + BORE + Deckify Patches Kernel by CachyOS with other patches and improvements
	pkgver = 6.10.10
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.10.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.10/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.10/misc/0001-wifi-ath11k-Rename-QCA2066-fw-dir-to-QCA206X.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.10/misc/0001-acpi-call.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.10/misc/0001-handheld.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.10/sched/0001-sched-ext.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.10/sched/0001-bore-cachy-ext.patch
	b2sums = 8a15910089d080886046b1fd8d57ef28ce872bf428e67ccbc9d5ca92da794d6dee7ab83cc914a499b40962e2990c3b1e5b11ae7d12c1eff7bec548c9a67df03a
	b2sums = 43ba28079f4a7b5f4d57bf25ea7c83d3079041e216f731d995f33157913a52d21e5a8a455ceda24c874082e40eca107a6026d463b0fbce327ccab41b85e572e0
	b2sums = b1e964389424d43c398a76e7cee16a643ac027722b91fe59022afacb19956db5856b2808ca0dd484f6d0dfc170482982678d7a9a00779d98cd62d5105200a667
	b2sums = 57a47335109bd4dad8a64f81ab0880ed5fc41ef35d6d354a3193e93dc5b89fdd28c9bd6f97b795bc53bd5bf141ea22e5099e18eb81fa8e25531a9c6db2dc2033
	b2sums = 53e125e8838ef6a3b2a7e1828b225888b2a5dac749c71c622009f61109fe3c113373c42e322af4427d636e0ebe9d23b46c6d0a2b342e7d8dabd8cfa198eed63e
	b2sums = be844475f453f79f5d892c2cc2a6843b32501e2a7c57dd0859ec0cba2262d9fa9a95fff77b6e3718dff449c0f3b428fce03bc35d8332081427feedd461388498
	b2sums = 2da31437bf7030908205dff7bfe50807a9190878eac916b24882a0223effdf3f2f65165bfbd829302df09a05f8a48d70ee7c76d2d3f2a2e2c7da05aec3b3fd5d
	b2sums = b36978e78a9a5c4dbf759850d6277e1781e495863963dfaf6d625ea734a3b712d5b1a63a2d18745a70c6d22967c3ef901efe3817c01348f16accad90daef79e4
	b2sums = f4eac46ae191bb6fdb66244a69355a8b623c2323849d9b12c1880c4465b6389f199dd3d9f064383e78faaf9266905b55f7073e2cf2aeb0437edb3e783596f3ff

pkgname = linux-cachyos-deckify
	pkgdesc = The Linux SCHED-EXT + Cachy Sauce + BORE + Deckify Patches Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = scx-scheds
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-deckify-headers
	pkgdesc = Headers and scripts for building modules for the Linux SCHED-EXT + Cachy Sauce + BORE + Deckify Patches Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-deckify
