pkgbase = linux-cachyos-sched-ext
	pkgdesc = Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.6.4
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	makedepends = python
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = bpf
	makedepends = libbpf
	makedepends = rust
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.4.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.6/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.6/sched/0001-sched-ext.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.6/sched/0001-bore-cachy-ext.patch
	b2sums = 75f20de7474f45966a32f7a1e5f9beadb2b4e111fe9c0ab769ccaa203e798f1a1b0ee05c3cb14de6bb609e2e9df1e238deeadfc21dbf08c6b407c9530bac11ef
	b2sums = 5ddb5dcdb79354268e69d01523f06d5071538ba53171adcef0dd455b286df7785611d64f13b3aae06ac298cc60d990ebfa7b11d75dec9ab4a256b431de549483
	b2sums = 11d2003b7d71258c4ca71d71c6b388f00fe9a2ddddc0270e304148396dadfd787a6cac1363934f37d0bfb098c7f5851a02ecb770e9663ffe57ff60746d532bd0
	b2sums = 0b81c9b2746171663a0570f240acbf40b9719f4f7b7bd4ea0e6a6da8901e24e2baba6e36f3422f319b199056184973bcf29321967c0b17745e65307f52a755e6
	b2sums = 417c2eab2e6672d19d1f47dae5509de9e124e7601eac405a4528b69c4a25e3cd8e38f720341e4974be538bc7e8457a85e1131751565a83eefd6877bd4ea46e33
	b2sums = ba009b627912ec671155212dc88da4c8b007f929c3a027972e6622da1486e87a1fb51426e6cc7445fc6b9382f4365acec46022c14bb6fc3b24b462184cd93539

pkgname = linux-cachyos-sched-ext
	pkgdesc = The Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-sched-ext-headers
	pkgdesc = Headers and scripts for building modules for the Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-sched-ext

pkgname = linux-cachyos-sched-ext-schedulers
	pkgdesc = Schedulers for Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = libbpf
	depends = bpf
	depends = clang
