pkgbase = linux-cachyos-sched-ext
	pkgdesc = Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.6.5
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	makedepends = python
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.5.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.6/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.6/sched/0001-sched-ext.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.6/sched/0001-bore-cachy-ext.patch
	b2sums = 9d66d720f2f037cfd480835ab38807fe5aabcff09bd210c5cb0dc80bd3e1182434df9f04a286df4e8cbc508ac984ecba12d2098a3296e3aac60afad94c085876
	b2sums = 5ddb5dcdb79354268e69d01523f06d5071538ba53171adcef0dd455b286df7785611d64f13b3aae06ac298cc60d990ebfa7b11d75dec9ab4a256b431de549483
	b2sums = 11d2003b7d71258c4ca71d71c6b388f00fe9a2ddddc0270e304148396dadfd787a6cac1363934f37d0bfb098c7f5851a02ecb770e9663ffe57ff60746d532bd0
	b2sums = 96ab8ee123335565195fcb5a5e3448d01cd15da64002b321ee88f71c0f826913a7c8bf17bc46a49aaa5eef526b39bf589769a4590dac229621044f58833e5d07
	b2sums = 5ece98d5d7df631d3e170bf27b0ee26411f37788aebfbb97db4916b5e1b8c9c800900ee25e54acf575030fbcad7a75bb429698e8e5ac8bccadecb988b0189315
	b2sums = 1b0d12b035c9af9247e4239e561d88e1f4cdd2641f7e78a48bdfe68cf7b070ba572048e60cc42c771fa9364a1edcd2c4cf04739ecf403c03ecc184f0a165d288

pkgname = linux-cachyos-sched-ext
	pkgdesc = The Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-sched-ext-headers
	pkgdesc = Headers and scripts for building modules for the Linux SCHED-EXT with BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-sched-ext
