pkgbase = linux-cachyos-rt-bore
	pkgdesc = Linux BORE-RT + Cachy Sauce Kernel by CachyOS with other patches and improvements
	pkgver = 6.19.3
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/archive/refs/tags/cachyos-6.19.3-1.tar.gz
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.19/sched/0001-bore-cachy.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.19/misc/0001-rt-i915.patch
	b2sums = 456dc2d0d04f8829f7542a4d963d5a49f6e96e46e352d7e192d32f23cad8ca1e0ae9627eaa57b483a2a1fd483ae3862bc05a4195874ce7a3b02f48f9a7fd94e1
	b2sums = 3c42413a19aa5c51d25c1dd414d21a2cd9fe9dbc904ad8679927a8dd1c733e0d62e2f74290c02faae3f04eac70a4e3caff0870b65c44647f3f523ee8d187b18f
	b2sums = 226c64dd989ec0c4c444d048707e5d56be4a7ffa59ada31f197015c65a87e7935c8a0a1d6a9d35947e60f90505e5cffb3df9824aec71b2f188bcaa2e89403e0b
	b2sums = afd56b3b85363a611a012e2b27f241a6fb402414f358f66fe89d1974c77832dc19f8f058b5a3060dc0b742016ab807fbde9d74776b9cc6e459831eaad38cae04

pkgname = linux-cachyos-rt-bore
	pkgdesc = The Linux BORE-RT + Cachy Sauce Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-cachyos-rt-bore-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE-RT + Cachy Sauce Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-rt-bore
