pkgbase = linux-cachyos-rt-bore
	pkgdesc = Linux BORE-RT + Cachy Sauce Kernel by CachyOS with other patches and improvements
	pkgver = 6.17.8
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.8.tar.xz
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.17/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.17/sched/0001-bore-cachy.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.17/misc/0001-rt-i915.patch
	b2sums = 1476969a9ad9252f97c16edb3c9fb37d75de3c00280af42057a2704666aa4945ac50d458e61d1e2b751e224ec38c99789b80f23636bc93f79f5b5e51a163980b
	b2sums = bc863600b02ccb6404e95e85f31b1cbc1293c663e0dd96eb0b7f42277b937849f156f509e688862d6926711e2297712bce4fdbfc04231b104b2608b1fc1ba34b
	b2sums = cc2b9d95a75cdd08cdc1616258351a2e1f09057c7dde071214d3edea00cae312544c1a267558690a27da296e1f5a0729dcab4b413c0b59dee0fcbeffd877e5fc
	b2sums = 966b8059310169dd0806bfad95d01b8587258113962064e3f0d7ee429bc010e62aaf201666a0c6ab7feb5f50b5aabe08b9e99cbac033c29140799bc5cb6178be
	b2sums = 993581243d5eeb7c412a60beca396524201d7274ea01145df25b2742a4c50f677695730be298d32d523ff56314621b735d5d8616a5f2f61e796a05670a877983

pkgname = linux-cachyos-rt-bore
	pkgdesc = The Linux BORE-RT + Cachy Sauce Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-cachyos-rt-bore-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE-RT + Cachy Sauce Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-rt-bore
