pkgbase = linux-cachyos-lts
	pkgdesc = Linux BORE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.1.56
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	makedepends = python
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.56.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/misc/0001-Add-latency-priority-for-CFS-class.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/sched/0001-bore-cachy.patch
	sha256sums = 9edefdde32c2298389dcd19566402332b3c2016f5ada17e5820f500b908d478c
	sha256sums = 45161c715cab5c70098383328d7ad09ffe5efb596084e1f2673457dcd1b148b5
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = 25add4447def58e36ef295dd8692c6e1d531fb22f3cd3ce94638a259a17dcc54
	sha256sums = 94183cf66bd0df543ee47917a9f1c5919a217695c3d1f4f7912fbf20ea31e047
	sha256sums = 9a28d2875e3eb3c0b5413bf6928f318f31784fb6edc90be00950be562b528f35

pkgname = linux-cachyos-lts
	pkgdesc = The Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-lts-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-lts
