pkgbase = linux-cacule
	pkgdesc = Linux BORE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 5.19.0
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://github.com/torvalds/linux/archive/refs/tags/v5.19.tar.gz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.19/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.19/sched/0001-cacULE-cachy.patch
	sha256sums = 11614fc737638f693d02bf0d95422dfe2b3bcf3088196cd1c4c799cfdf675b70
	sha256sums = 42d2127e3fb3bc96024c8af9d3eaead69007f64b1096d13767249bd9afeb043c
	sha256sums = ce8bf7807b45a27eed05a5e1de5a0bf6293a3bbc2085bacae70cd1368f368d1f
	sha256sums = f053ab9b44b1e5164f6ac4f0216fe54a2589a35aee15169b0dea11669705a2af
	sha256sums = d6b282e1a9f9e8671bf3b071b2da7976f3ca44715b9eaab1badf26c211658034

pkgname = linux-cacule
	pkgdesc = The Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cacule-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cacule
