pkgbase = linux-cacule
	pkgdesc = Linux cacULE scheduler Kernel by CachyOS and with some other patches and other improvements
	pkgver = 5.16.9
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = xmlto
	makedepends = git
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.16.9.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/sched/0001-cacULE-5.16-full.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-bitmap.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-cachy.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-arch-patches-v3.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-amdpstate.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-anbox.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-bbr2-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-boot.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-cfi.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-cpu.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-clearlinux.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/misc/0010-ELF.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-misc-new.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-fs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-lrng.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-MG-LRU-v7.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-hwmon-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-net-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-pf-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-zstd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-v4l2loopback.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-xanmod-patches.patch
	source = auto-cpu-optimization.sh
	sha256sums = 1660e7228ec299c187c19739d115ded97f6b1be05a24986c4c443e7c5e8b744f
	sha256sums = f23080ecb6b2532745f1dd7a05cac03f31cf784702ac12cbc5dbeda9294669d0
	sha256sums = 480a3399d346b5fe053708a458ba63ae4a074d925114896f899740198bf809f2
	sha256sums = 38e66c9722b9918f6d79876065a4dc17c20215387bab2a3722ae0b8d8b9a3d45
	sha256sums = 80b03a4c65fc49a7059c5f0c31f2b58359c0faabcc960daffd19b5d2fa025cfe
	sha256sums = d471337542fbdab0eef9169fba9a85879847e07797153ea845bee90b7facf3fa
	sha256sums = 4d592e6bd49ae19db05d758130ae1b6f3bb081923a7b6df0b946ea0f4524168e
	sha256sums = 0b64f616404ed70757f423c879bf3edf51525bfdb78f7ec8f1ae21412d9e8a2a
	sha256sums = bc91fa787a28516b317fdd9e038ed2c10b61703a9848c1a9ad286e92d51c97be
	sha256sums = 8c2409c3ffc915cc3b8357c980fd6b66fb12ce122aa88f04e6f04ed43bf67cec
	sha256sums = eb57a61e3c1bf2966211f02a9ae080c3af4c7faf3f706821440e324a70d0cd20
	sha256sums = 7936b61ba25f03597fd563be82c31a5756d8a82c893f69a2d569f99d375b1362
	sha256sums = 915e992ed5ba2551ca648e4aa7340e9f250f6b7806287a061c1c8e40b1dc348b
	sha256sums = 6c2737225c46c8776022eede29753fea10547cfd1a0c38dcab628be7a4d7c126
	sha256sums = 9601ce74ce4c5473c220687e5c16437daa6b4f0fcd7cb1d2c51c14715ab12de1
	sha256sums = f3092e2b4f3dbf98f47708dc2b18999968fd789067dbc91c94f747a9033f6b1a
	sha256sums = e2d99ace9b54021c5ef53b4b51716816172d6304f6a823b88d5b4e9a68562aef
	sha256sums = 85f753cbd1936f1f118f53b83bd9ab266d08eda6a630b5821e049c15f02bcbe4
	sha256sums = 83ff3060a927c63d2ea0eaa9a2d7d7b741eff0084ecab22e758a2d7663cbfd20
	sha256sums = db0d2fde8f1e994fbb4eb37c8affa3f0b339aa658f9ab5003bb2ce453a68ab95
	sha256sums = 8c2e3ce0874a23e4d8df419f79dd1d045ef349bbe1474717e9455c8197f41c4e
	sha256sums = 706f3b04cbce6e5e213d082694117d5fe96cdac9ccaed71e0a9f02ab62d2f431
	sha256sums = b3a46271fe16d6136bf71d1a149cfe0e0968e9c8732946d8eb7a4a91413c1ea5
	sha256sums = 39a98308126050de9e250f16cfc9ae8b04fd40962ae106f1ebec59baeedae8c5
	sha256sums = 65ec9ac5b8b28d5b61df1c72498059be2e7cb1f9b965bac0e4ffed3c05520b2b

pkgname = linux-cacule
	pkgdesc = The Linux cacULE scheduler Kernel by CachyOS and with some other patches and other improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE

pkgname = linux-cacule-headers
	pkgdesc = Headers and scripts for building modules for the Linux cacULE scheduler Kernel by CachyOS and with some other patches and other improvements kernel
	depends = pahole
