pkgbase = linux-cachyos-rc
	pkgdesc = Linux Clang ThinLTO + AutoFDO + Cachy Sauce Kernel by CachyOS with other patches and improvements - Release Candidate
	pkgver = 7.1.rc7
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.1-rc7-2/cachyos-7.1-rc7-2.tar.gz
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.1-rc7-2/cachyos-7.1-rc7-2.tar.gz.asc
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.1/misc/dkms-clang.patch
	validpgpkeys = E18447AC260021D31F3FF6C4C8A2A4774B8B63C4
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	b2sums = 0639bf941749d1d956e2afa1f8075d7bbafa0262ab86f11f3d90181a5884cada9980736b6e82f3718f146767de77ba3eac3c3202fe5086494109277e63e6bc26
	b2sums = SKIP
	b2sums = 74ec907cbafb6dc0971ceb700d2e39ace932474aac92d7b73a39df30cbb673070e42b8770ce6c52570275c2310bc374f082363a6ba6cad443998da5a2ed74cd0
	b2sums = c992567bd7dd8553432be496ffa1c17e2f5ebe9c7edb51945cf977e1b742dd6517c210d8843bb82744ca705efd07f8027cd7dde41b50215ebd707a34aa81462e

pkgname = linux-cachyos-rc
	pkgdesc = The Linux Clang ThinLTO + AutoFDO + Cachy Sauce Kernel by CachyOS with other patches and improvements - Release Candidate kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-cachyos-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux Clang ThinLTO + AutoFDO + Cachy Sauce Kernel by CachyOS with other patches and improvements - Release Candidate kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	depends = linux-cachyos-rc
	depends = clang
	depends = llvm
	depends = lld
	provides = LINUX-HEADERS
