pkgbase = linux-cachyos-tt
	pkgdesc = Linux TT scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 5.17.5
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = texlive-latexextra
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = xmlto
	makedepends = git
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.17.5.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/sched/0001-tt.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0001-arch.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0002-anbox.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0003-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0004-cachy.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0005-clearlinux.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0006-cpu.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0007-fixes-miscellaneous.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0008-fs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0009-hwmon.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0010-lru-le9.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0011-spf-lru.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0012-xanmod.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0013-lrng.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0014-ck-hrtimer.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0015-futex-winesync.patch
	source = auto-cpu-optimization.sh
	sha256sums = 9bbcd185b94436f9c8fe977fa0e862f60d34003562327fcebb27c9fa342fe987
	sha256sums = 29c5dd2ae6b452b75b25816a8f6610fa2ff54f21b22a0ccef5c2e98a7077eb36
	sha256sums = c048c4d43196d5d003897012b40da442d932f322b85e9805824450faa5df00ef
	sha256sums = ba45fa1a0de3d0c813358e381f5fe1105afd730fbcd8c9ba451b115448f7aa5b
	sha256sums = b0cfdc9867119d36cf2deaaa8efffca165fcf1a48c7fd5a28a2b2ec7c5026421
	sha256sums = 0d4b9c288727e6e4c44ba53990538cf118d5a432e612e9060534ab077427848a
	sha256sums = 8ec8d66e06a1b5ca6a5ddf59a793b8af01d0e5ce4c5168e30b0b95aceb89dafb
	sha256sums = e71f3a80e83ff2a31cdc7533f1dcd4f4832f233346668fc5c86f60ec6d20a47e
	sha256sums = fcef8eb5b5d7f7dbc32fdc20d3b6764ec352b33079d96f9fd583d0f7094a1542
	sha256sums = d089a0a3063b5fbccf7175e89ebc648c19a3d9eb74cb457d4685ca5cab092628
	sha256sums = d94002f53ee9cdad412fc6f2c487cea97143a7b880335b2847d4acc2b6f4b823
	sha256sums = 290f75b6ce492c32c17f3c1a0fea7b2aa7228ceb91acb274922ea0fa9c768af0
	sha256sums = 4375a07806c57819cadb5c91ba15169baacdda5a44425da4ac1e2d517c483a88
	sha256sums = 40500b27dc527563de24f029641bb108b829987dcbf7e441c299b3a1efc275ff
	sha256sums = ed3053a8bd1d4b855ef6ed3b0dd456cef15e38061dbb834624d62486c875b1c8
	sha256sums = 71b5ea3baa39520b5687a1b5265b722f2240590eb9d11336e7b145db7f1e9c62
	sha256sums = f1fab7056f9f62b8c967bbd7d678adfc9ab20802c78d9aa9355cf6869ac699fc
	sha256sums = 71e4b1f30c50a947bbf11167e00aaadcd97d3d5d4b06dce94b4f72cd3e776117
	sha256sums = 65ec9ac5b8b28d5b61df1c72498059be2e7cb1f9b965bac0e4ffed3c05520b2b

pkgname = linux-cachyos-tt
	pkgdesc = The Linux TT scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE

pkgname = linux-cachyos-tt-headers
	pkgdesc = Headers and scripts for building modules for the Linux TT scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
