pkgbase = linux-TT
	pkgdesc = Linux-TT Kernel by CachyOS and with some other patches and other improvements
	pkgver = 5.14.14
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.14.14.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/arch-patches-v10/0001-arch-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/TT-Scheduler/0001-tt-CK-fixes.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-tt-CK-fixes.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/cpufreq-patches/0001-cpufreq-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/misc/0008-remove-LightNVM.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-slub.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/misc/amd/0011-amd-ptdma.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-clearlinux-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/android-patches/0001-android-export-symbold-and-enable-building-ashmem-an.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/bbr2-patches/0001-bbr2-5.14-introduce-BBRv2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/block-patches-v2/0001-block-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/btrfs-patches-v9/0001-btrfs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/fixes-miscellaneous-v7/0001-fixes-miscellaneous.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/futex-xanmod-patches-v2/0001-futex-resync-from-gitlab.collabora.com.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/futex2-xanmod-patches-v2/0001-futex2-resync-from-gitlab.collabora.com.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/ksmbd-patches-v19/0001-ksmbd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/hwmon-patches-v5/0001-hwmon-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/lqx-patches/0001-lqx-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/lrng-patches-v2/0001-lrng-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/lru-patches-v4/0001-lru-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/pf-patches-v9/0001-pf-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/xanmod-patches-v2/0001-xanmod-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/zen-patches-v3/0001-zen-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/zstd-patches-v2/0001-zstd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/security-patches/0001-security-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/zstd-upstream-patches-v6/0001-zstd-upstream-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/ntfs3-patches-v14/0001-ntfs3-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-ksm.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-winesync.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-v4l2loopback.patch
	source = auto-cpu-optimization.sh
	md5sums = 9646d53502447936773c65cac149572c
	md5sums = b09057d8f5bd130039a6dc4e79c5dd9d
	md5sums = 581faf85cd625c41bbdd0cadbd0e451e
	md5sums = 86d88da7edb9267ea3c4c4fd06ee6d94
	md5sums = 86d88da7edb9267ea3c4c4fd06ee6d94
	md5sums = b87b77bd4273817f2b792d6fe965e417
	md5sums = eb39a5681a153f5a1f5a67e8b9e957a5
	md5sums = 0464f6f1267bae4d87ee97a305d32467
	md5sums = e2a4af58b9d784226792fdc71d2cabba
	md5sums = 54f750c0e08b4e5b51a49c494a6891d6
	md5sums = e45c7962a78d6e82a0d3808868cd6ac0
	md5sums = 196d6ac961497aa880264b83160eb140
	md5sums = 1eaf224f9f46096efb75c153b712d702
	md5sums = 08183676295d4a89a2c65b1bc326ae3f
	md5sums = 7c0ff8bd5d8f1069ab34aec2060109c9
	md5sums = fd934f7d11131d5a5043e4aea640583b
	md5sums = 8a96c5e8346bd5b430776ac8a41f96b0
	md5sums = c5cc719fcd48592d437610c19b9a997b
	md5sums = 5c9334532387ae8df80cff9bb5890954
	md5sums = 6787c78ba3e7b0a34fbba9c50da7e3b4
	md5sums = 366c90b64f9582c0733b8fb607a07594
	md5sums = 8adcaccbb5c0ebd4bc81144e16b92627
	md5sums = 607228871a4127c31baae7b1d66866bc
	md5sums = 28864f14bf33bad92e57bc48bc5c2c78
	md5sums = cfef1423ad1e6aecad63f0d5eacaea37
	md5sums = 808981a36c81165953017e5e432c1fa1
	md5sums = f6a1c51adfc68fb7b52dc5715a9cb5a7
	md5sums = f818b58bb2c6a30cd6fe88a8bd434b90
	md5sums = 0636779d32ba47bda25d3edb5fbd08c9
	md5sums = 566435a0444ee45816599f2e0e362c7a
	md5sums = bb22330e270bf36ccf53cb04d6b496d2
	md5sums = 4c493a3e0f3486be8ad1b6c67c9c6917
	md5sums = 95eb4457f95f3f8dd153983612ee65c0
	md5sums = 21c98f19e883879dd3336c1fa143fd31

pkgname = linux-TT
	pkgdesc = The Linux-TT Kernel by CachyOS and with some other patches and other improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-TT-headers
	pkgdesc = Headers and scripts for building modules for the Linux-TT Kernel by CachyOS and with some other patches and other improvements
	depends = linux-TT=5.14.14
	depends = pahole
