pkgbase = linux-cachyos-pds
	pkgdesc = Linux PDS scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.2.10
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.2.10.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.2/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.2/sched/0001-prjc-cachy.patch
	sha256sums = 57c562c3cd2753f232549cab05c8ad770ed848ae86401619c7581bdffaeea4fe
	sha256sums = c37cd629b9044fe1e1ebf86dd1bc5f99aa472d8c4ccad314c36c247a2b97daac
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = 367a6d70bd990a142ef9541d75166b1fca06953dbfff0c9846ce3ebd77abe7d2
	sha256sums = b722a645027ebbab8d028bcd2258ac411ea46868df530976def1fcc2a32b9c9d

pkgname = linux-cachyos-pds
	pkgdesc = The Linux PDS scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-pds-headers
	pkgdesc = Headers and scripts for building modules for the Linux PDS scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-pds
