pkgbase = linux-cachyos-pds
	pkgdesc = Linux PDS scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 5.17.3
	pkgrel = 3
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = texlive-latexextra
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = xmlto
	makedepends = git
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.17.3.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/sched/0001-prjc.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0001-arch.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0002-anbox.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0003-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0004-fs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0005-cachy.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0006-clearlinux.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0007-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0008-fixes-miscellaneous.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0009-fixes.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0010-hwmon.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0011-MG-LRU.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0012-spf-lru.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0013-uksm.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0014-v4l2loopback.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0015-xanmod.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.17/0016-lrng.patch
	source = auto-cpu-optimization.sh
	sha256sums = 32d0a8e366b87e1cbde951b9f7a01287546670ba60fac35cccfc8a7c005a162c
	sha256sums = 2326154da7383bd6a3b84e27a2dbc36d7bf8c533cda438fac7e08abefb71e9b0
	sha256sums = ba65acd3f1168a7479e3665b5b13f7d1066e713eadb5a0e5110423ba97d7ccd3
	sha256sums = 86881dd86c0982d86b66aca11f440ce3a0c88a28fb7120fdf8f7d6ad7d328e05
	sha256sums = 7616bde11139d419ef190f2870e3a848b7157b9a4dc769a6f1ff59cb99508126
	sha256sums = 576d14d12b54a8756117d4839fa63241fcde0ff7799ddfd07f0b25e7e852407c
	sha256sums = 3b9a5a31c77e1b708793fd735ad82bd5906f0d8c0b055eae03ea0242ef83509c
	sha256sums = a801630a75a59363c99144836a13aef4f36f93b3b5b64299faa11e21e329cfe4
	sha256sums = 440f463d88183ced1ca0e1e8dafa227e6c0212752de7a0d5203e293e8ccb2f88
	sha256sums = 7c76f76baccf3ca163f7889bb3d5b28a0551b94cd08312a63581b6df9f439693
	sha256sums = bda7360b44d033dc274649d4c99e252321145162cbe7463ac1f97d79eae7101e
	sha256sums = cf3554d737c52663dd3048906788c28ade3e53a660049ea0bdb792f096965c70
	sha256sums = 8de7224e9d84605b7498dd003018dc94cc421d9871500ae885176f051fe048f8
	sha256sums = f6e422d11a5389c5da330501a2a816f9fc088627124ab0910252dfa4d5eac367
	sha256sums = ea4174aa8fbeb309c17fb0aedb4eacbf269ba02123d28067ec46142823782ca7
	sha256sums = 69d4eb1a09e0c3d942c54b13e5576c372c81deadadaf06f94076c157f8599045
	sha256sums = 1e486bf2a8d33762ed429569d4220a218e1d6db0e96d7cfb57e4ed8090a349bf
	sha256sums = 6d2c65532a81468d15f8fb326837eef12f07e10c24e7219fc49c941eb40450db
	sha256sums = c921936c051dd5efe66d7b53eb03a2f26b14b138047cd76702ba6cedf4474432
	sha256sums = 65ec9ac5b8b28d5b61df1c72498059be2e7cb1f9b965bac0e4ffed3c05520b2b

pkgname = linux-cachyos-pds
	pkgdesc = The Linux PDS scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE

pkgname = linux-cachyos-pds-headers
	pkgdesc = Headers and scripts for building modules for the Linux PDS scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
