pkgbase = linux-cachyos-cacule-rc
	pkgdesc = Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets
	pkgver = 5.16.1
	pkgrel = 1
	url = https://github.com/cachyos/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://git.kernel.org/torvalds/t/linux-5.16-rc1.tar.gz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.16/0001-cacULE-5.16-full.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-misc.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-cpufreq-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-zstd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/misc/0001-mm.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-zen-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-winesync-fsync.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.16/0001-lrng.patch
	source = auto-cpu-optimization.sh
	md5sums = 9ad5b4c937c19b6a15737211c2ce4057
	md5sums = 4c6cfdda3bb1ca972b9d176e3a6bbe85
	md5sums = 02e7cbd91491ad357bf2d507d58e21a0
	md5sums = 299b176cbfc1b386d74406387e9e2d6b
	md5sums = 15ffc9a58dbdfff5aa77bc085d2b335a
	md5sums = 4792a194feb0e9267f8660f38746f4fb
	md5sums = 67764a5824b567b49bcce19c01d4e1b3
	md5sums = bf58290793d3a095ef95fb1fac2de89a
	md5sums = 500f49b7f8ebe52f10ce473e50522b08
	md5sums = de6db1147385c058b2e94df3c1739fdf
	md5sums = 13ed4ea506b1dc0e9e8437d34c99a916
	md5sums = a9d7fcef5c2e849ca347a81a7ac729c6
	md5sums = 21c98f19e883879dd3336c1fa143fd31

pkgname = linux-cachyos-cacule-rc
	pkgdesc = The Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig

pkgname = linux-cachyos-cacule-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel
	depends = linux-cachyos-cacule-rc=5.16.1
	depends = pahole
