pkgbase = linux-cachyos-rc
	pkgdesc = Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets
	pkgver = 5.15.rc6
	pkgrel = 1
	url = https://github.com/cachyos/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://git.kernel.org/torvalds/t/linux-5.15-rc6.tar.gz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.15/cacule-5.15-full.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-zstd.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-mm.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-lrng.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-fixes.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-futex.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-cpu.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-hwmon.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-sitemap.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-bitops.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-disable-SCHEDUTIL.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-hz-dynamicpreept.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/misc/0002-init-Kconfig-enable-O3-for-all-arches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-pstate.patch
	source = auto-cpu-optimization.sh
	md5sums = 3577e4e5970c537de05e0a96ade385b5
	md5sums = f3f883a7af43bd61c84c9a892c32573e
	md5sums = afdbe964cd00357ef7248553ab9db091
	md5sums = 2a8097ba46be56fbbe3967e9c34c9a0b
	md5sums = e6c5e75b6e71f7a3d81f5dbad64188a8
	md5sums = e422617aff583cec11129e0f185e9549
	md5sums = 7d5cf45bcce33f1ed82f660efb089d3c
	md5sums = acbaad682b7660e691d756680a8a3274
	md5sums = b2a3fe5958abed934b14c345ab32a698
	md5sums = ff4b20b981d9ae0bdda68f012b03e756
	md5sums = 9788f0fb9ae2b72bd8bdab660c8cbddc
	md5sums = 41f2c3ccfdef3ed7ceb43a345841933c
	md5sums = 02ce3ecc02498f26a18a02717f808432
	md5sums = 95243b2c7d4d3e56a38fabc85786afcc
	md5sums = f88c3290ece724c81921059df14965cf
	md5sums = ceb9020f754c9a0c3f526b38abc714dd
	md5sums = 373a1df8cddeb7807b6adf7b2ab03bc2
	md5sums = 21c98f19e883879dd3336c1fa143fd31

pkgname = linux-cachyos-rc
	pkgdesc = The Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig

pkgname = linux-cachyos-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel
	depends = linux-cachyos-rc=5.15.rc6
	depends = pahole
