pkgbase = linux-cachyos-rc-rdb-lto
	pkgdesc = Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets
	pkgver = 5.15.rc6
	pkgrel = 1
	url = https://github.com/cachyos/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	makedepends = python
	options = !strip
	source = https://git.kernel.org/torvalds/t/linux-5.15-rc6.tar.gz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.15/cacule-5.15-full.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-zstd.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0003-mm.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0004-lrng.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0005-fixes.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0007-bfq.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0008-cpu-arches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0010-preempt-hz-cfs.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/misc/0002-init-Kconfig-enable-O3-for-all-arches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/misc/amd/0006-amd-cppc.patch
	source = auto-cpu-optimization.sh
	md5sums = 3577e4e5970c537de05e0a96ade385b5
	md5sums = fa6b45fa35f1f8b0283429ac9db069e9
	md5sums = 0d27a2f6ac0b39eb8a441d9b879bcf55
	md5sums = 422fe01f2e2b1ba1c2b9174fa1a75e40
	md5sums = dd7088b6dbdb3223f7ce44ca3ac6a2a4
	md5sums = e422617aff583cec11129e0f185e9549
	md5sums = 14499396b682683e3413d5e585110684
	md5sums = acbaad682b7660e691d756680a8a3274
	md5sums = d513cd85a62af5147bdff447d604c70f
	md5sums = ff4b20b981d9ae0bdda68f012b03e756
	md5sums = f88c3290ece724c81921059df14965cf
	md5sums = ceb9020f754c9a0c3f526b38abc714dd
	md5sums = 430972ae1e936f99d8dc2a1f4fdaf774
	md5sums = 21c98f19e883879dd3336c1fa143fd31

pkgname = linux-cachyos-rc-rdb-lto
	pkgdesc = The Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig

pkgname = linux-cachyos-rc-rdb-lto-headers
	pkgdesc = Headers and scripts for building modules for the Linux-CacULE Kernel-RC by Hamad Marri and with some other patchsets kernel
	depends = linux-cachyos-rc-rdb-lto=5.15.rc6
	depends = pahole
