pkgbase = linux-cachyos-cacule-lts
	pkgdesc = LTS Linux
	pkgver = 5.10.80
	pkgrel = 1
	url = https://www.kernel.org/
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.10.80.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/arch-patches-v14/0001-arch-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.10/cacule-5.10.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/cpu-patches-v2/0001-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/futex-trunk-patches-v2/0001-futex-resync-from-gitlab.collabora.com.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/futex2-trunk-patches-v3/0001-futex2-resync-from-gitlab.collabora.com.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/ll-patches/0001-LL-kconfig-add-750Hz-timer-interrupt-kernel-config-o.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/ll-patches/0003-sched-core-nr_migrate-256-increases-number-of-tasks-.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/ll-patches/0004-mm-set-8-megabytes-for-address_space-level-file-read.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/lqx-patches-v4/0001-lqx-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/bbr2-patches-v3/0001-bbr2-5.10-introduce-BBRv2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/pf-patches-v11/0001-pf-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/le9db_patches/le9db1-5.10.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.10/zstd-upstream-patches/0001-zstd-upstream-patches.patch
	sha256sums = 477ce8f7624263e4346c0fc25ffc334af06bcac4d6bebdd5a7fe4681557fdb39
	sha256sums = 0122c24ac89b05d3e1f278ec33fcb17997ad6b3e5b6fcd0da70c18ef1b899232
	sha256sums = 9ec9ac50a8bdd645c456feab4a0ca9b7ffe6dcd0933a89ba96112f8bdedbf0ae
	sha256sums = 3d4a0602425000d18162fdd45c6f13dd1c5ef78ef3b5b7f19365a8b0cf030c3a
	sha256sums = 152e251586eec29990fa4cc30c561b7e49acb765434b70634501b398e4c1fe2e
	sha256sums = 239307e0018ab2405b9afaa7d315ee3352b83819a3c75b65951749b52a3247d2
	sha256sums = 5822e657656278e3bd223f0036e35b4b3d04785874473b60955a03a3c46d757b
	sha256sums = 2bb3453e3d7bd3111f8bce4366b19ecb5f02db18e4084815f7e75ce3edc84a30
	sha256sums = 331dd459a21a4afd65e2c59848666b9dd420f87f4ad01ec3012b47f3acc992ef
	sha256sums = 77ff83080ce0b83c81bc085a0e276b08db572aed725dacc5a1b804c9d0f36733
	sha256sums = 9657bca3947ee6ab31a1921d26859f83250d278c42908544b0c6816b2c338086
	sha256sums = 167d1732e57601dece7eec95d22bcbc43b1b2815fd73182933c1757abe7189b7
	sha256sums = 5dcbaf27074975eedd1ba93edaee9ffe59fdbd8af5cd3d848fd5c3873d451462
	sha256sums = 56cc0ffee3005fc81b0488348861ceea035ebd1356eec1512c53e786e206ff06
	sha256sums = 137811c7d916c608f9ebb7e4d82ec93ea7592d99fe6394cf908c0e12e9881a7d

pkgname = linux-cachyos-cacule-lts
	pkgdesc = The LTS Linux kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-cachyos-cacule-lts-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux kernel
