pkgbase = linux-cachyos-hardened-zfs
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2.1.5
	pkgrel = 9
	url = http://zfsonlinux.org/
	install = zfs.install
	arch = x86_64
	arch = x86_64_v3
	license = CDDL
	makedepends = linux-cachyos-hardened-headers
	depends = linux-cachyos-hardened=5.18.2-2
	depends = kmod
	depends = zfs-utils=2.1.5
	provides = zfs=2.1.5
	source = https://github.com/openzfs/zfs/releases/download/zfs-2.1.4/zfs-2.1.4.tar.gz
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-zfs-2.1.5-staging.patch
	sha256sums = 3b52c0d493f806f638dca87dde809f53861cd318c1ebb0e60daeaa061cf1acf6
	sha256sums = 84e7cc4a6ef33c1ddc88a300be640bb997ac5c2e73a2f3b7418dc1b586843b20

pkgname = linux-cachyos-hardened-zfs
