pkgbase = linux-cachyos-hardened
	pkgdesc = Linux BORE scheduler and hardened Kernel by CachyOS with other patches and improvements
	pkgver = 7.0.12
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.0.12-2/cachyos-7.0.12-2.tar.gz
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.0.12-2/cachyos-7.0.12-2.tar.gz.asc
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.0/sched/0001-bore-cachy.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.0/misc/0001-hardened.patch
	validpgpkeys = E18447AC260021D31F3FF6C4C8A2A4774B8B63C4
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	b2sums = 2dbc9e0b4fd361ea2622d134ceb25e540ce8385a401a73e28a911192ff847e061800d9b791dd409cd6d1794026f950963d7df501d5b8d73b2f197d12807b66fd
	b2sums = SKIP
	b2sums = f1f137975a325bebc30d2d7841ae1ffb2a7581db61ab495c1054f5cc66dd7f16d24b2dbdeef0e002db3066c1a4f4f561c2254bc5a6393f615d221f10d97773fe
	b2sums = 9dc1a5a46d8ecf606323926f22b4ce0aaf910dc47fd9ab9b8d08d1600e0bb45109babf7098f390562d8d8456239bb44b7db13b175fe2f529b9784a603dc11fbe
	b2sums = 3bdc77767deefaecb7c623117ca82db5ee47ac55e3378d5e13afe5a3e43e132c0f5d618812470dc9086205cd3eea9f111db975103a285120469534d947759da4

pkgname = linux-cachyos-hardened
	pkgdesc = The Linux BORE scheduler and hardened Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-cachyos-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE scheduler and hardened Kernel by CachyOS with other patches and improvements kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	depends = linux-cachyos-hardened
	provides = LINUX-HEADERS
