pkgbase = linux-cacule-rdb
	pkgdesc = Linux cacULE-RDB scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.0.0
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://github.com/torvalds/linux/archive/refs/tags/v6.0.tar.gz
	source = config
	source = config-rt
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/sched/0001-cacULE-cachy.patch
	sha256sums = f63602d33f9b98ab8abd1f668fe1debbb1eea28984e7218a0e051ac1d25aac37
	sha256sums = 545f9592ac0bb2959de4799133c53d79c9e2bd3f226804e92693a2e2c20d724a
	sha256sums = f0e02c04001b39a79344a114daceda589658f79035ad8d912c3d3528c13d35ca
	sha256sums = e1d45b5842079a5f0f53d7ea2d66ffa3f1497766f3ccffcf13ed00f1ac67f95e
	sha256sums = 1ce9300f4dc2984c06f2e4149eb933e315fdb2463e97c317e4ecf6de442a677c
	sha256sums = eec1684b75918609e707b876e83c6a6570aaddec7ecdb3277a649575550edd46

pkgname = linux-cacule-rdb
	pkgdesc = The Linux cacULE-RDB scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cacule-rdb-headers
	pkgdesc = Headers and scripts for building modules for the Linux cacULE-RDB scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cacule-rdb
