pkgbase = linux-cacule-rdb
	pkgdesc = Linux cacULE-RDB scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 5.18.6
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = texlive-latexextra
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = xmlto
	makedepends = git
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.18.6.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-cachy.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/sched/0001-cacULE-5.18-migrate.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-amd-perf.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-Extend-DAMOS-for-Proactive-LRU-lists-Sorting.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-fixes.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-fs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-futex-winesync.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-hwmon.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-lrng.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-lru-le9-spf.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-kbuild.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.18/0001-rcu.patch
	source = auto-cpu-optimization.sh
	sha256sums = 4e1c2a9e79847850029571a1dd04761e5f657b52c558070a085365641f133478
	sha256sums = 49ddff0aac1493c3049450f8dacb9de5217c5d9254bc736cd012b3e7bda6baf2
	sha256sums = 0437704f362dbcd917af531824841683e16ea1a49d750a6ffc0b060b17b97057
	sha256sums = 28e51fdc88e67e82285390f883ff34ba7cf86a9502e55d8c46deae1cdbe40f25
	sha256sums = 326d129f9435145add756dc967accd56ffe1d8ff1b6650f84d2578c41bd6dfd6
	sha256sums = dc2898751118804bc3f36b5a6928a2927d04919ce41c0ce013009f5564d6d232
	sha256sums = 71c33bf75dbf84673ad26a35c20b0f9ae0fa9944d91cd93a0b128752ca2eab0e
	sha256sums = 39551bf08e6b965db7b125c81a17f60f695a686b13ddc6499463222fd6cec9b4
	sha256sums = efa0cd8f02f1289d8775ce64dc4a2a061b225612e8f1513591c147a3925dc7bd
	sha256sums = 1d9c83de97d541f5a7ae4612a96c05aea8ce38de5471cc21fd2197dbd6644d00
	sha256sums = 16085e0bba8e1843180f82df00d6040b97531cebb2c0c4c7fe23860322d06beb
	sha256sums = f5b02a27a6324fc5aaabbca03e76d483da9ff51c389e4fabda51fd85f77217fc
	sha256sums = 292240ee42f4e34b97528c9b2b2afcef7bc892501a3750b8825ac6ef9c87072e
	sha256sums = f534b60c0d90ef59312ac874f0fbbcd60434ceac673148e76c503752e837126b
	sha256sums = e3bb6ca80b9156c409fdd0ca55916f028213f7b4fc7dcf7cea7702e08822ea5f
	sha256sums = ce8bf7807b45a27eed05a5e1de5a0bf6293a3bbc2085bacae70cd1368f368d1f

pkgname = linux-cacule-rdb
	pkgdesc = The Linux cacULE-RDB scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cacule-rdb-headers
	pkgdesc = Headers and scripts for building modules for the Linux cacULE-RDB scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cacule-rdb
