pkgbase = linux-cachyos-cacule-rt
	pkgdesc = Linux-cacule Kernel by CachyOS and with some other patches and other improvements
	pkgver = 5.15.2
	pkgrel = 2
	url = https://github.com/ptr1337/linux-cacule
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.15.2.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/RT/patch-5.15.2-rt20.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/CacULE/v5.15/cacule-5.15-rt-full.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/arch-patches/0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-misc.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/android-patches/0001-android-export-symbold-and-enable-building-ashmem-an.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/AMD/0001-amd64-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-bbr2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-clearlinux-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-cpufreq-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-bfq.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-btrfs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-ck-hrtimer.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-fixes-miscellaneous.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-futex-wait.v-fsync-winesync.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-hwmon-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-ksmbd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-string.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-lqx-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-pf-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-security-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-xfs-backport.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-v4l2loopback.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-zen-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-zstd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.15/0001-zstd-upstream-patches.patch
	source = auto-cpu-optimization.sh
	md5sums = 4e0f11f01e157a3d8d7a63c72bedb96f
	md5sums = 1782aa1320baf4333ccd69fdc52bafa4
	md5sums = 98e9e01f0c9016dbf0c55ee443643cf3
	md5sums = 690fe365432d3368cc4ba73578d50494
	md5sums = cf26387aadf2a90428350ac246b070c9
	md5sums = 5aa8601982a89357476f6201a369b5aa
	md5sums = 80e419d6847d4122a23a141fd3a40e52
	md5sums = 53f037488a66667220c263f92ded333d
	md5sums = 2a8097ba46be56fbbe3967e9c34c9a0b
	md5sums = 0b6d09bdd920f4c31c05fdeaa0740548
	md5sums = 67764a5824b567b49bcce19c01d4e1b3
	md5sums = 4792a194feb0e9267f8660f38746f4fb
	md5sums = ff2c6319fb660962609e2c8d43eab654
	md5sums = ad8abdde12a6ffa728b975aac06e88b9
	md5sums = 6038177c72982533035309fcd6df208a
	md5sums = 640629cbf3f32c33b6a3657ca766bb2c
	md5sums = d058fb21aac0658ee10029bdbdca96d1
	md5sums = 6b82762de24995661c34b2739ba15ea0
	md5sums = a63625757016d525c9e69ab434159bfe
	md5sums = d6e5581b4fade267a28deb8e73d236f5
	md5sums = 39c65dd4eeec0dfedbf79ca5e43276d5
	md5sums = 13eaebd6dfb087eccd3e191fc147f095
	md5sums = bc64b1d1a9c95b07c28457f7214ebf81
	md5sums = 4e4d84a2759740ec1856392f5b98de12
	md5sums = 8cb0301d159b59727b7bdd09350e2a9f
	md5sums = de6db1147385c058b2e94df3c1739fdf
	md5sums = bf58290793d3a095ef95fb1fac2de89a
	md5sums = dd138ea37149f99429110f3947c6f280
	md5sums = 21c98f19e883879dd3336c1fa143fd31

pkgname = linux-cachyos-cacule-rt
	pkgdesc = The Linux-cacule Kernel by CachyOS and with some other patches and other improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-cachyos-cacule-rt-headers
	pkgdesc = Headers and scripts for building modules for the Linux-cacule Kernel by CachyOS and with some other patches and other improvements
	depends = linux-cachyos-cacule-rt=5.15.2
	depends = pahole
