pkgbase = linux-cachyos-baby-dl
	pkgdesc = Linux-baby Kernel by CachyOS and with some other patches and other improvements
	pkgver = 5.14.11
	pkgrel = 3
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.14.11.tar.xz
	source = config
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/arch-patches-v10/0001-arch-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/misc/amd/0006-amd-cppc.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/misc/0008-remove-LightNVM.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/ll-patches/0003-sched-core-nr_migrate-256-increases-number-of-tasks-.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/ll-patches/0004-mm-set-8-megabytes-for-address_space-level-file-read.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/android-patches/0001-android-export-symbold-and-enable-building-ashmem-an.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/bbr2-patches/0001-bbr2-5.14-introduce-BBRv2.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/block-patches/0001-block-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/btrfs-patches-v7/0001-btrfs-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/fixes-miscellaneous-v6/0001-fixes-miscellaneous.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/futex-xanmod-patches-v2/0001-futex-resync-from-gitlab.collabora.com.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/futex2-xanmod-patches-v2/0001-futex2-resync-from-gitlab.collabora.com.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/ksmbd-patches-v17/0001-ksmbd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/hwmon-patches/0001-hwmon-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/lqx-patches/0001-lqx-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/lrng-patches-v2/0001-lrng-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/lru-patches-v4/0001-lru-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/pf-patches-v9/0001-pf-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/xanmod-patches-v2/0001-xanmod-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/zen-patches-v3/0001-zen-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/zstd-patches-v2/0001-zstd-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/security-patches/0001-security-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/zstd-dev-patches-v6/0001-zstd-dev-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/ntfs3-patches-v14/0001-ntfs3-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-ksm.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-cpu-patches.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-winesync.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/0001-v4l2loopback.patch
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.14/baby/baby-dl-5.14.patch
	md5sums = 0eba0d3a75f56ddbbb0f4265b35724c3
	md5sums = d93835cc970f8c135609081fec836139
	md5sums = 581faf85cd625c41bbdd0cadbd0e451e
	md5sums = 430972ae1e936f99d8dc2a1f4fdaf774
	md5sums = eb39a5681a153f5a1f5a67e8b9e957a5
	md5sums = af7328eb8c72c754e5bc8c7be1ca2f1c
	md5sums = f0d84fc024b9933bc19db696e0393a4e
	md5sums = e45c7962a78d6e82a0d3808868cd6ac0
	md5sums = 196d6ac961497aa880264b83160eb140
	md5sums = a3f2cbf318dd2a63af9673f9e34e7125
	md5sums = cb9f92bf2ce143d5552dc89b037fb1f7
	md5sums = f364618bad6154856085c7025d388d3b
	md5sums = fd934f7d11131d5a5043e4aea640583b
	md5sums = 8a96c5e8346bd5b430776ac8a41f96b0
	md5sums = f71331c247285499ca42b63d707831a6
	md5sums = bad682a72d2549f409caea361fb0456f
	md5sums = 6787c78ba3e7b0a34fbba9c50da7e3b4
	md5sums = 366c90b64f9582c0733b8fb607a07594
	md5sums = 8adcaccbb5c0ebd4bc81144e16b92627
	md5sums = 607228871a4127c31baae7b1d66866bc
	md5sums = 28864f14bf33bad92e57bc48bc5c2c78
	md5sums = cfef1423ad1e6aecad63f0d5eacaea37
	md5sums = 808981a36c81165953017e5e432c1fa1
	md5sums = f6a1c51adfc68fb7b52dc5715a9cb5a7
	md5sums = 97d9c9da437152c2f1161e5da5b5d7d4
	md5sums = 0636779d32ba47bda25d3edb5fbd08c9
	md5sums = 566435a0444ee45816599f2e0e362c7a
	md5sums = bb22330e270bf36ccf53cb04d6b496d2
	md5sums = 4c493a3e0f3486be8ad1b6c67c9c6917
	md5sums = 95eb4457f95f3f8dd153983612ee65c0
	md5sums = 21c98f19e883879dd3336c1fa143fd31
	md5sums = 63ee6ec75b8867b24a573bbb5e413623

pkgname = linux-cachyos-baby-dl
	pkgdesc = The Linux-baby Kernel by CachyOS and with some other patches and other improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE

pkgname = linux-cachyos-baby-dl-headers
	pkgdesc = Headers and scripts for building modules for the Linux-baby Kernel by CachyOS and with some other patches and other improvements
	depends = linux-cachyos-baby-dl=5.14.11
	depends = pahole
