pkgbase = linux-cachyos-rt-rc
	pkgdesc = Linux BORE-RT scheduler Kernel by CachyOS and with some other patches and other improvements
	pkgver = 5.19.rc8
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://github.com/torvalds/linux/archive/refs/tags/v5.19-rc8.tar.gz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.19/all/0001-cachyos-base-rt-all.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.19/sched/0001-bore.patch
	sha256sums = 1f52eb88e511c3b7f7e3373418195f0db5d2acf9ff7623554371537bf785399a
	sha256sums = d32897c6ea7f685f511692552eab0b4208f06f1b287b83393f1fc3ed2d9a0516
	sha256sums = ce8bf7807b45a27eed05a5e1de5a0bf6293a3bbc2085bacae70cd1368f368d1f
	sha256sums = 0844e475b66675bbb09a80cd3d52d4ebccd2e708af28661ce5414ef4a39f2818
	sha256sums = 0fe7f1698639df033709c6d32e651d378fc6e320dfc6387f8aee83d9ed0231a8

pkgname = linux-cachyos-rt-rc
	pkgdesc = The Linux BORE-RT scheduler Kernel by CachyOS and with some other patches and other improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-rt-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE-RT scheduler Kernel by CachyOS and with some other patches and other improvements kernel
	depends = pahole
	depends = linux-cachyos-rt-rc
