pkgbase = linux-cachyos-rt-rc
	pkgdesc = Linux BORE scheduler Kernel by CachyOS and with some other patches and other improvements
	pkgver = 5.19.rc7
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://github.com/torvalds/linux/archive/refs/tags/v5.19-rc7.tar.gz
	source = http://www.kernel.org/pub/linux/kernel/projects/rt/5.19/patch-5.19-rc7-rt7.patch.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.19/all/0001-cachyos-base-rt-rc-all-dev.patch
	source = https://raw.githubusercontent.com/ptr1337/kernel-patches/master/5.19/sched/0001-bore.patch
	sha256sums = 4cf0d0d0e46c31781a3f571845973b616c07af90d059922bdff3c6ff941bfda4
	sha256sums = 2d1bda5bcf29342440877b67180f2a8d1ba1dbf5aa49f881be249986755d0e2f
	sha256sums = 215069eed8ec4034dd47981a00f3a4676ff00a005996e3ba91d9f95d6dba0c64
	sha256sums = ce8bf7807b45a27eed05a5e1de5a0bf6293a3bbc2085bacae70cd1368f368d1f
	sha256sums = 21951a949d29800cf74d91b317ed4e61e439562148f5a88da9851854c7366dc3
	sha256sums = 7a36fe0a53a644ade0ce85f08f9ca2ebaddd47876966b7cc9d4cae8844649271

pkgname = linux-cachyos-rt-rc
	pkgdesc = The Linux BORE scheduler Kernel by CachyOS and with some other patches and other improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-rt-rc-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE scheduler Kernel by CachyOS and with some other patches and other improvements kernel
	depends = pahole
	depends = linux-cachyos-rt-rc
