pkgbase = linux-cachyos-bore
	pkgdesc = Linux BORE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.4.2
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	makedepends = python
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.4.2.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.4/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.4/misc/0001-bore-tuning-sysctl.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.4/sched/0001-bore-cachy.patch
	b2sums = 691313012a4f20e419c1870d47f642cbadee3da739663f89575011f566b376c1a8a291ffc2db5157e30584cd0f6de444635a85bc178fa819e181ee3e6e7d1202
	b2sums = c92a900bf397dc05cc4dcd1669f8736a15aa500be9d0ee93aac5c66d2055f7493f09a1d85a523a8183a06c7a962c7721d13960157a35a4cb2f9b4df507bc67c9
	b2sums = 11d2003b7d71258c4ca71d71c6b388f00fe9a2ddddc0270e304148396dadfd787a6cac1363934f37d0bfb098c7f5851a02ecb770e9663ffe57ff60746d532bd0
	b2sums = 80877d71ac9cc5c2b8a9b871c8c70ed496cc478516a36cdc23e84424f3d6059abdc2e23dcab8a4afb4d8cc66bf1964d739ecd584c5dc88d22cdb5ee3902b4f1d
	b2sums = d3a9449a407f04f3e0759642ad474958ebb4d1283d826987156f6421b94ca46b872c6f4bb43014e8bd5b9cbe61e7b3a07e65f84557f4ae4bd47244d2ba5495ab
	b2sums = dceb0a3be5829e646533349f9997a3e20de67dcd75542c281499d6db10be2bf3a3d8aa48c0f47e5fa000f8a0ae750201332e0fcb0919131bc77b7218dec26c3b

pkgname = linux-cachyos-bore
	pkgdesc = The Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-bore-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-bore
