pkgbase = linux-bore
	pkgdesc = Linux BORE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.0.12
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.0.12.tar.xz
	source = config
	source = config-rt
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/misc/0001-Add-latency-priority-for-CFS-class.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/sched/0001-bore-cachy.patch
	sha256sums = 89b730edf8942b49e02f9894244205886c9a214d629b35b88c4ff06ee9304f01
	sha256sums = 5ef4000fa382d718bc88a2c898534c94349bc38125fb0a5e6f90987c64338bc2
	sha256sums = 8e3332029a7e6574b8c5d1f98e5391a20871b889e0a65fc351584c26b9e2b0ef
	sha256sums = e1d45b5842079a5f0f53d7ea2d66ffa3f1497766f3ccffcf13ed00f1ac67f95e
	sha256sums = e56d2483f4abf9a6c935d3bd37d9b5892024daff957f58bc96eec23bfb181d8a
	sha256sums = 8a29fd18c2deb36cf0bbfb16a84819d86fa476ef4792d07dd627c945c0b55f4b
	sha256sums = 4b135afcb13e2a852048e99ee96f74eb4ba785039a447b43d3e87e03494e29d7

pkgname = linux-bore
	pkgdesc = The Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-bore-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-bore
