pkgbase = linux-mainline
	pkgdesc = Linux Mainline
	pkgver = 6.16.rc1
	pkgrel = 1
	url = https://kernel.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/torvalds/linux/archive/refs/tags/v6.16-rc1.tar.gz
	source = config
	b2sums = 19c36c0ebbb7e8ebf975ebbbb980fc24262c94f4d6e5c910e4b6818286bd6db16bafc07532fe00dab0b74ecd64071bda3dd359ff82dc8497aed98b6d395b3a33
	b2sums = 7c5fceaf9d6bf75b51a0a75eb842c31fc32c02b22981ef30ba5a6749e1ae40c00be4e0f8ebaf2315df5a7d2af6d424c921cafec63867350aa77926aa58730fe7

pkgname = linux-mainline
	pkgdesc = The Linux Mainline kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-mainline-headers
	pkgdesc = Headers and scripts for building modules for the Linux Mainline kernel
	depends = pahole
	depends = linux-mainline
	depends = clang
	depends = llvm
	depends = lld
