pkgbase = linux-cachyos-cfs
	pkgdesc = Linux CFS scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.0.0
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.0.tar.xz
	source = config
	source = config-rt
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/misc/0001-Add-latency-priority-for-CFS-class.patch
	sha256sums = 5c2443a5538de52688efb55c27ab0539c1f5eb58c0cfd16a2b9fbb08fd81788e
	sha256sums = 94579d96177a5eb8ef4227dd10f70d999e2f17acb182fe7cb3b659a5c50a9cc5
	sha256sums = fe22c8635aaa0d17742c3bcb943692782902c3eb8c213adfe47bb5dd517021e9
	sha256sums = e1d45b5842079a5f0f53d7ea2d66ffa3f1497766f3ccffcf13ed00f1ac67f95e
	sha256sums = 8180568fa32a598c9643cb757daa4a8b59b4d888917aa086f82f4929dcaea3d5
	sha256sums = d4b3fc8b159fd1445e34066c6a61bc73249b3733807cb63750e65561f6fa8bc0

pkgname = linux-cachyos-cfs
	pkgdesc = The Linux CFS scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-cfs-headers
	pkgdesc = Headers and scripts for building modules for the Linux CFS scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-cfs
