pkgbase = linux-cachyos-cfs
	pkgdesc = Linux CFS scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.1.2
	pkgrel = 3
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.2.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.1/misc/0001-Add-latency-priority-for-CFS-class.patch
	sha256sums = ee41f3c4f599b2f46f08aae428c9243db403e7292eb2c9f04ee34909b038d1ae
	sha256sums = d4f3fc2581e338835a33983cca18bfb3225450a07c456c48c9b051c03236955a
	sha256sums = 32e77b3b71225c9f04df2d44c25f982773a8fff9927d26788366baab5e242e74
	sha256sums = 53b2918c27a786adde50a28862c63f7c22df1697dfdcf3792123402e98d5a857
	sha256sums = 0241632f91c112dcdffbdc203a9245ee3234f9a8b4e5e2c2de45fd0d228840da

pkgname = linux-cachyos-cfs
	pkgdesc = The Linux CFS scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-cfs-headers
	pkgdesc = Headers and scripts for building modules for the Linux CFS scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-cfs
