pkgbase = linux-cachyos-cfs
	pkgdesc = Linux CFS scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.2.12
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.2.12.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.2/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.2/misc/0001-Add-latency-priority-for-CFS-class.patch
	sha256sums = c7e146b52737adfa4c724bfa41bf4721c5ee3cf220c074fbc60eb3ea62b0ccc8
	sha256sums = 816508270cc1062a9089548a7320922c028431450db4231fc5786d81beedd9ed
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = df9ad8d111f94c6705de28c692de217e39d76b509309f38a3e4a510a5d36d187
	sha256sums = de53f7d4b08ac4e3e6699f407ac29d333fde329cb18b2b46c8c642af284b60c2

pkgname = linux-cachyos-cfs
	pkgdesc = The Linux CFS scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-cfs-headers
	pkgdesc = Headers and scripts for building modules for the Linux CFS scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-cfs
