pkgbase = linux-cachyos-server
	pkgdesc = Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads
	pkgver = 6.11.0
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/torvalds/linux/archive/refs/tags/v6.11.tar.gz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.11/sched/0001-eevdf-next.patch
	b2sums = c5a924d8a11f6e8e8fcbc75e3cfdd1b08cd6c2c139386e1c13e1f8bb5fbce95530308a4ff6cfbc962296dde2c91e63ede8189aa067bda27f02050f0c2643bd5b
	b2sums = fa3fd6750d3bdecd8030d6f29032f9041c9d713e91b5ceefce9ad02a1c6b097146ab77eb298d6fa96a04ed0ec3db0c5449e17ea48283e9bf2312d40547fe5747
	b2sums = b1e964389424d43c398a76e7cee16a643ac027722b91fe59022afacb19956db5856b2808ca0dd484f6d0dfc170482982678d7a9a00779d98cd62d5105200a667
	b2sums = ab6c372dbc0f4269d44d4900217cd5a784d03bfb498f673090134b86933f6d8cd3eefa12c8550dd4f135fbf4572f0f2bf17c388e7e7579d168466bdd1db467bc
	b2sums = b80a343bc571f5f842d3390c8754bbf2b98c8f74beae2e7834a84d91c30d706bf3bf7a719414603b8b2218b2166ce9687d1d5bb36824cc9488d257a853372c5e

pkgname = linux-cachyos-server
	pkgdesc = The Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-server-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads kernel
	depends = pahole
	depends = linux-cachyos-server
