pkgbase = linux-cachyos-server
	pkgdesc = Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads
	pkgver = 6.15.2
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.2.tar.xz
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.15/all/0001-cachyos-base-all.patch
	b2sums = c2b23abc39af6d2cf67f5963121f16d4a231869203d3915ed6260d6f39ef0d7dbd5c86abac9cc6f9af5b00f8ad6c754f212bdde1d670e60e3a91866718980799
	b2sums = 1791c5e3de43e3bba57bb673cfe460bebfd0a283bac59a7729c19508db088bf0207252dbffd85a9d563c8344b22fa3ba60d88e376d346feef14b28f8ca358ea5
	b2sums = 174798285decabfa21a21d57be927c53fbe184f1ced550b3b68d68458e10b8c4c7d076eaa958e625fc41a98c3c9c9cdd28ea459f30d97b66fbb71e0a3822d00c

pkgname = linux-cachyos-server
	pkgdesc = The Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-cachyos-server-dbg
	pkgdesc = Non-stripped vmlinux file for the Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads kernel
	depends = linux-cachyos-server-headers

pkgname = linux-cachyos-server-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF scheduler Kernel by CachyOS targeted for Servers workloads kernel
	depends = pahole
	depends = linux-cachyos-server
