name: PKGBUILD CI
on:
  workflow_dispatch:
jobs:
  pkgbuild:
    runs-on: selfhosted
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Checkout
      run: |
         chmod +x ./script.sh
         sh script.sh
