pkgbase = linux-cachyos-cacule
	pkgdesc = Linux cacULE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.0.3
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.0.3.tar.xz
	source = config
	source = config-rt
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.0/sched/0001-cacULE-cachy.patch
	sha256sums = b0d522241805794d8af3a67d331ba063a16496c6fb6d365d48f7ed78ee1c3dcf
	sha256sums = 6c0d6bc4d2978b5ff6da3854c0938e5bbf9a9171202d87c6f43fb7f7ce1cc5bd
	sha256sums = 06d408a1dad0a31aff812a81725acd1c5d8cb70b34eb2eb5b695c8d426d895da
	sha256sums = e1d45b5842079a5f0f53d7ea2d66ffa3f1497766f3ccffcf13ed00f1ac67f95e
	sha256sums = 3d8899cdcabe4fcc35a908a4af1f3c253f4c20d6c2672d28c366db1ced384c63
	sha256sums = e6146243342077c1c755ed377ebb866cd8f40cbfe7a1a86b7dfbd076151a0b3f

pkgname = linux-cachyos-cacule
	pkgdesc = The Linux cacULE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-cacule-headers
	pkgdesc = Headers and scripts for building modules for the Linux cacULE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-cacule
