pkgbase = linux-cachyos-cacule
	pkgdesc = Linux cacULE scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 5.19.1
	pkgrel = 2
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.19.1.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/5.19/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/5.19/sched/0001-cacULE-cachy.patch
	sha256sums = f4e27b926ea2c66b808db1f5706254cf92a8899e2108eedb0c3a7d12499aea55
	sha256sums = 6b0338cb4adcc48b0c9db4b2e9d861562fd1e096144c65fc35b93c788ed97eb3
	sha256sums = ce8bf7807b45a27eed05a5e1de5a0bf6293a3bbc2085bacae70cd1368f368d1f
	sha256sums = c04623bfb274c2422f6286c8befd52b835d2da9f953b1c66007bd851d2756365
	sha256sums = 74742ce442708a77f33c742b92d1a02c43f52149a1e5f328c2d4ada5578b1d00

pkgname = linux-cachyos-cacule
	pkgdesc = The Linux cacULE scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-cacule-headers
	pkgdesc = Headers and scripts for building modules for the Linux cacULE scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-cacule
