pkgbase = linux-cachyos-rt
	pkgdesc = Linux RT + Cachy Sauce Kernel by CachyOS with other patches and improvements
	pkgver = 6.8.1
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = gcc
	makedepends = gcc-libs
	makedepends = glibc
	makedepends = binutils
	makedepends = make
	makedepends = patch
	makedepends = python
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.1.tar.xz
	source = config
	source = auto-cpu-optimization.sh
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.8/all/0001-cachyos-base-all.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/6.8/misc/0001-rt.patch
	source = linux-cachyos-rt.install
	b2sums = 2b518f8f39b4dcea1c580cb0664d59c165db989422fd6fd6b65d3dd1e4548bc6e0cedfc95c2584ae56f69ac1a1d3de6552ee61e77b08799a5275934a453ab929
	b2sums = dfaab80f3a80c770b0920140c73cb45895b5cfd87596be231306aa360220885474ca4fb0b99b9ecb1f865deffb030a91a8d932c6805e7c9e803c1d4d2be51dfe
	b2sums = 43ef7a347878592740d9eb23b40a56083fa747f7700fa1e2c6d039d660c0b876d99bf1a3160e15d041fb13d45906cdb5defef034d4d0ae429911864239c94d8d
	b2sums = 1b898b83320e71f13c6fc0568fbee36589d14eed777d41455cfe87b9b929345f2e1f2a35fa2a7483b9145deaa097b345fa341a20866cd8d105b13fcbcb2df4e0
	b2sums = 8de7ad941b9dfec1e2c7c7c2f1f91bc43ead15a40133b56137c07cdfafb799f842eda47b668b76b7ee523d9b7d0bc7c025c8399fdd9d4323f132ad06ac6ca018
	b2sums = e395035f1b0b944beca434c1e24264342088365de267cbb83b111f02a029fc78145aec73c14e458bd3ad648c8bb2c2ef30c2ff091b1dad2f9b754ecbeb45e41b

pkgname = linux-cachyos-rt
	pkgdesc = The Linux RT + Cachy Sauce Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN

pkgname = linux-cachyos-rt-headers
	pkgdesc = Headers and scripts for building modules for the Linux RT + Cachy Sauce Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
	depends = linux-cachyos-rt
